                                            /* Home page css start  */
/* navbar css */
.navcss{
  background-color: pink;
  /* background-image: linear-gradient(rgba(250, 204, 204, 0.801),rgb(248, 248, 248) ); */
  height: 80px;
}
/* primary navbar */
.top-bar span{
  font-size: 13px;
  padding: 1px 5px;
}
/* secondary navbar  */
.navbar{
  margin-top: 30px;
}
@media(max-width:991px){
  .sidebar{
      backdrop-filter: blur(10px);
      -bs-gutter-x: 0rem;
  }
}
.b1{
  background-color:#BF0505;
}
.b1:hover{
  background-color: #fd0505;
}
.slider-margin{
  margin-top: 116px;
}
/* navbar css end  */
.home-text{
  text-align: justify;
  font-size: 20px;
}
.home-quote{
    background-image: linear-gradient(to bottom right, white,#FFE0E0);
    padding: 20px 70px;
    margin-top: 30px;
    text-align: center;
}
.home-video-con{
    margin-top: 30px;
    padding-left: 90px;
    text-align: center;
}
.video-text h2{
    margin-top: 25px;
    color: red;
    text-align: left;
    padding-left: 30px;
}
.video-text p{
    margin-top: 30px;
    font-size: 25px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    
}
/* search bar  */

.s1{
  background-image: url(/public/images/search-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 600px;    
}
.s2{

  margin-left: 40%;

}
.row row1{
margin-left: 2000%;
}
.header{
  margin: 0;
  padding: 20px 0;
}
.header  h1{
  color: white;
}

.b1{
  background-color:#BF0505;
  
  margin-left: 47%;
}
.b1:hover{
  background-color: #fd0505;
}
.row1{
  padding: 60px 100px 0px;
}
@media(max-width: 1024){
  .row1{
      padding: 60px 150px 8px;
  }
}
@media(max-width: 520){
  .row1{
      padding: 0px;
  }
}

/* media quire for slider */

@media only screen and (max-width: 599px){
  .home-image{
    background-image: url(/public/images/home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 160px; 
  }
   
      .option h1{
       color: rgb(0, 0, 0);
        font-size:10px;
        text-align: left;
        width:100%;  
        padding-top: 20px;
      }
      
      .option p{
        color: rgb(255, 255, 255);
        width: 40%;
        text-align: justify;
        font-size: 8px;
      }
       /* home button  */
      .home-button{
         background-color:#BF0505;
      }
      .home-button:hover{
         background-color: #fd0505;
          border:black 2px solid;
        }
}

@media only screen and (min-width: 600px) and (max-width: 959px){
  .home-image{
    background-image: url(/public/images/home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 200px; 
  }

      .option h1{
       color: rgb(0, 0, 0);
        font-size:19px;
        text-align: left;
        width:100%; 
        padding-top: 30px; 
      }
      
      .option p{
        color: rgb(255, 255, 255);
        width: 50%;
         text-align: justify;
        font-size: 13px;
      }
      .home-button{
        background-color:#BF0505;
     }
     .home-button:hover{
        background-color: #fd0505;
         border:black 2px solid;
       }
}

@media only screen and (min-width: 768px){
  .home-image{
    background-image: url(/public/images/home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 400px; 
  }

    .option h1{
      color: rgb(0, 0, 0);
     margin-top: 10px;
      margin-bottom: 10px;
      font-size:30px;
      text-align: left;
      width:100%;  
      padding-top: 35px;
      padding-left: 30px;
    }
    
    .option p{
      padding-left: 30px;
      color: rgb(255, 255, 255);
      width: 50%;
      margin-top: 1%;
      text-align: justify;
      font-size: 20px;
    }
    .home-button{
      background-color:#BF0505;
   }
   .home-button:hover{
      background-color: #fd0505;
       border:rgb(160, 45, 45) 2px solid;
     }
  }

 

    @media only screen and (min-width: 1280px) {
      .home-image{
        background-image: url(/public/images/home.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 550px; 
      }
        
          .option h1{
            color: rgb(0, 0, 0);
           margin-top: 5px;
            margin-bottom: 10px;
            font-size:60px;
            text-align: left;
            width:100%;  
            padding-top: 100px;
            padding-left: 40px;
          }
          
          .option p{
            padding-left: 40px;
            color: rgb(255, 255, 255);
            width: 50%;
            margin-top: 1%;
            text-align: justify;
            font-size: 30px;
          }
          .home-button {
            background-color:#BF0505;
         }
         .home-button:hover{
            background-color: #fd0505;
             border:black 2px solid;
             transform: translate(y);
         }
    }                                        /*   home page css end  */
    .botton-align{
      padding-left: 40px;
    }              
                                                   /* about page css start  */
  /* media qurie for top img of about page */
 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about-image{
    background-image: url(/public/images/6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 60px; 
  }
  .about-img h1{
    color: rgb(255, 0, 0);
    font-size:25px;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .about-image{
    background-image: url(/public/images/6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 80px; 
  }
 
  .about-img h1{
    color: rgb(0, 0, 0);
    font-size:45px;
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    width:100%;  
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .about-image{
    background-image: url(/public/images/6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 140px; 
  }
  .about-img h1{
    color: rgb(0, 0, 0);
    font-size:50px;
    text-align: left;
    width:100%;  
    padding-left: 30px;
    padding-top: 30px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .about-image{
    background-image: url(/public/images/6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 140px; 
  }
 
  .about-img h1{
    color: rgb(0, 0, 0);
    font-size:50px;
    text-align: left;
    padding-left: 30px;
    padding-top: 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
  .about-image{
    background-image: url(/public/images/6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 170px; 
  }

  .about-img h1{
    color: rgb(221, 19, 19);
    font-size:70px;
    text-align: left;
    width:100%; 
    padding-left: 50px; 
    padding-top: 30px;
  }
}
/* about media qurie end  */


.about-image{
    width: 100%;
}
.about-text{
  text-align: justify;
  font-size: 25px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
.about-text-1{
  text-align: justify;
  font-size: 20px;
  color: black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar-text{
  text-align: justify;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: black;
}
.heading-text{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 29px;
}

                                                   /* about page css end  */

                                     /* blood info page css start */
    .bloodinfo-image{
      width: 100%;
     
  }
  .bloodinfo-image-2{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 395px;
  }
  /* media qurie for top img of bloodinfo page*/
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .bloodinfo-image{
        background-image: url(/public/images/e2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 60px; 
      
    }
    
    .bloodinfo-img h1{
      color: rgb(255, 255, 255);
      font-size:25px;
      text-align: left;
      width:100%;  
      padding-left: 20px;
      padding-top: 20px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .bloodinfo-image{
      background-image: url(/public/images/e2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      height: 90px; 
    
  }
  
    .bloodinfo-img h1{
      color: rgb(255, 255, 255);
      font-size:50px;
      text-align: left;
      width:100%;  
      padding-left: 20px;
      padding-top: 20px;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .bloodinfo-image{
      background-image: url(/public/images/e2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      height: 120px; 
    
  }
  
    .bloodinfo-img h1{
      color: rgb(255, 255, 255);
      font-size:50px;
      text-align: left;
      width:100%;  
      padding-left: 20px;
      padding-top: 20px;
    }
  
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 993px) and (max-width: 1200px) {
    .bloodinfo-image{
      background-image: url(/public/images/e2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      height: 130px; 
    
  }
  
    .bloodinfo-img h1{
      color: rgb(255, 255, 255);
      font-size:50px;
      text-align: left;
      width:100%;  
      padding-left: 20px;
      padding-top: 20px;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1201px) {
    .bloodinfo-image{
      background-image: url(/public/images/e2.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      height: 160px; 
    
  }
  
    .bloodinfo-img h1{
      color: rgb(255, 255, 255);
      font-size:70px;
      text-align: left;
      width:100%;  
    }
  }
  /* media quier for bloodinfo end  */

                                      /* blood info page css end */
                                      
                                      /* contact us css start  */

.wrapper {
  display: flex;
  justify-content: space-around;
  margin: 40px;

}

.box1 {
  width: 200px;
  height: 300px;
  align-items: center;
}

@media(max-width:900px) {
  .wrapper {
      flex-direction: column;

  }

  .box1 {
      width: 100%;
      margin-top: 80px;
  }
}

*{
  font-family: 'Poppins', sans-serif;
}
.contact-header{
  background-image: url(/public/images/contact3.png);
  height:300px;
  background-size: cover;
  width: 100%;
  background-position: center;
  }

  .contact-map{
   height:300px;
   background-size: cover;
   width: 100%;
   background-position: center;
   }

.contact-text{
  color: rgb(255, 255, 255);
}
.contact-title{
font-size: 45px;
}
.btn1{
color: rgb(255, 241, 241);
background-color: rgb(0, 0, 0);
}

/* contact form css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;

}
.contact-form-init
{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}
.contact-form-init
{
  max-width: 800px;
  text-align: center;
}
.contact-form-init{
  font-size: 15px;
  font-weight: 500;
  color: rgb(3, 1, 0);
} 

.contact-container
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-container .contactInfo
{
width: 50%;
display: flex;
flex-direction: column;
}

.contact-container.contactInfo .box
{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contact-container .contactInfo .box 
.icon
{
  min-width: 60px;
  height: 60px;
  background: #9582e7;
  display: flex;
  justify-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
}


.contact-container .contactInfo .box .text
{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: dark;
  flex-direction: column;
  font-weight: 300;

}
.contact-container .contactInfo .box .text h3
{
font-weight: 500;
font-weight: 100px;
color: rgb(0, 0, 0);
}
.contactForm
{
  width: 80%;
  padding: 40px;
  background-image: url(/public/images/contact2.png);
  
}
.contactForm h2
{
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.contactForm .inputbox
{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputbox input,
.contactForm .inputbox textarea
{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputbox span
{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputbox input:focus~span,
.contactForm .inputbox input:valid~span,
.contactForm .inputbox textarea:focus~span,
.contactForm .inputbox textarea:valid~span
{
  color:#000;
  font-size:12px;
  transform: translateY(-20px);
   
}
.contactForm .inputbox input[type="submit"]
{
  width: 100px;
  background: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.contactForm textarea
{
text-decoration: none;
}
@media (max-width: 991px)
{
  .contact-form-init
  {
      padding: 50px;
  }
  .contact-container{
      flex-direction: column;
  }
  .contact-container .contactInfo{
      margin-bottom: 40px;
  }
  .contact-container .contactInfo{
      width: 100%;
  }
}

                             /* contact us css end  */
                                                   /* register page css start */
     .form-container{
    background-image: url(/public/images/signup.png);
    padding: 40px 0px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

  }
  .form-css{
    width: 60vh;
    color: black;
    padding: 20px 15px;
    border: 2px black solid;
    background-color: white;
    margin-left: 30px;
  }
  table{      
        border-collapse: seperate; 
        border-spacing: 0 25px;
        text-align: left;
  	}
    table tr td{
        padding: 10px;
    }
  .form-lable{
    padding-right: 75px;
  }
.submit-decore{
  margin-top: 10px;
  text-align: center;
  border: 2px black solid;
  border-radius: 43px;
  padding: 5px 15px;
  background-color: white;
  margin-left: 110px;
}
                                                  /* register page css end */
                                      /* footer page css start */
  
    .f1{
      background: url(/public/images/img1.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      padding: 0 80px 0 80px;
      
    }
   .n1 ul li a {
    color: white;
    text-decoration: none;
    }
    .n1{ 
      width: 25%;
      padding: 0 15px;
    }
    .n1 .n2{
      padding-left: 0px;
      margin-left: 0px;
      padding-top: 15px;
    }
  h5{
    color: white;
  }  
  .n1 .logo1{
    margin-top: 20%;
  }
  .icon1{
      size: 900%;
      padding:  50px;
    }
    .icon2{
    width: 15%;
      padding-top: 80px ;
    }
    .n1 ul li a:hover{
color: rgb(248, 151, 151);
padding-left: 8px;
}
     .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 5px 5px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.social-links a:hover{
color: #24262b;
background-color: #ffffff;
}
.social-links{
padding-left: 200px;
padding-top: 0px;
}
  

  @media(max-width: 767px) {
    .n1{
      width: 50px;
      margin-bottom: 30px;
    }
    }
  @media(max-width: 574px){
    .n1{
      width: 100%;
      margin-bottom: 30px;
    }
  }
                                                 /* footer page css end  */